<footer class="footer">
  <div class="content has-text-centered">
    {{!-- (Line below) year below gets updated using JS Date object --}}
    <p>&copy; <span id="year"></span> Quiz App. All rights reserved.</p>
  </div>
</footer>