<section class="hero is-primary">
  <div class="hero-body">
    <!-- <p class="title">Learn by Testing Yourself</p> -->
    <!-- <p class="subtitle">Join Now</p> -->
    <div class="columns is-vcentered">
      <div class="column">
        <h1 class="title">Learn by Testing Yourself!</h1>
        <p class="subtitle my-5 has-text-justified">
          The most effective way of retaining what you have learned is active recall - implemented with quizzes to make knowledge stick!
        </p>
        <button
        href="/signup"
        class="button 
               is-rounded 
               is-large 
               has-text-link"
        >
          Let's Learn
        </button>
      </div>
      <div class="column">
        <figure class="image">
          <img src="./img/active-learning.jpg" alt="">
        </figure>
      </div>
    </div>
  </div>
</section>