<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learn by Testing</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <script src="https://kit.fontawesome.com/44cf9e0220.js" crossorigin="anonymous"></script>
  <script type="module" src="./client-js/main.js"></script>
</head>
<body class="has-navbar-fixed-top">
  {{> navbar}}
  {{{body}}}
</body>
</html>