<section class="section m-0">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2 has-text-centered">
        <h1 class="is-size-3 has-text-weight-bold mb-3">How it works?</h1>
        <div class="columns">
          {{!-- Step 1 --}}
          <div class="column">
            <h2 class="is-size-3 has-text-weight-bold">1</h2>
            <p class="mb-3 has-text-weight-bold">Pick a subject</p>
            <p>
              At the moment, we only provide you the option to test yourself
              on <strong>Computer Science</strong>.
            </p>
          </div>
          {{!-- Step 2 --}}
          <div class="column">
            <h2 class="is-size-3 has-text-weight-bold">2</h2>
            <p class="mb-3 has-text-weight-bold">Practice!</p>
            <p>
              Now test yourself. After each quiz, you will be given a feedback
              that points out your strengths and weaknesses. Go back and focus your study on your weak points.
            </p>
          </div>
          {{!-- Step 3 --}}
          <div class="column">
            <h2 class="is-size-3 has-text-weight-bold">3</h2>
            <p class="mb-3 has-text-weight-bold">Retry</p>
            <p>
              Simply repeat <strong>Steps 1 & 2</strong>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{> footer}}