{{!-- The main content of the page --}}
<section class="section">
  <div class="columns">
    {{!-- The sidebar --}}
    <div class="column is-4-tablet is-3-desktop is-2-widescreen">
      sidebar
    </div>
    {{!-- The right part, specific to each page --}}
    <div class="column">
      right part content
    </div>
  </div>
</section>