<div class="hero is-info">
  <div class="hero-body">
    <div class="box">
      <!--! (Line below) the whole question columns need to be hidden at start and when game over -->
      <div class="columns is-multiline">
        <div class="column is-12">
          <p class="has-text-left">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dolorem numquam iure soluta odit expedita tempore eos veritatis quidem est?
          </p>
        </div>
        <div class="column">
          <button class="button">Answer 1</button>
        </div>
        <div class="column">
          <button class="button">Answer 2</button>
        </div>
        <div class="column">
          <button class="button">Answer 3</button>
        </div>
        <div class="column">
          <button class="button">Answer 4</button>
        </div>
        <!-- <div class="column is-half is-offset-one-quarter is-centered"></div>
        <div class="column is-half is-offset-one-quarter"></div> -->
        <!-- <div class="column is-half is-offset-one-quarter">
          <button id="start-btn" class="button">Start</button>
          <button id="next-btn" class="button">Next</button>
        </div> -->
      </div>
    </div>
  </div>
</div>

<!--! (Line below) needs to be hidden after the game starts  -->
      <!-- <div class="columns">
      <button id="start-btn" class="button">Start</button>
      <button id="next-btn" class="button">Next</button>
    </div> -->

<!-- <div id="question-container">
  <div id="question">Question</div>
  <div class="buttons">
    
  </div>
</div>
<div class="buttons">
  
</div> -->