{{!-- (Line below) add 'is-fullheight' or 'is-fullheight-with-navbar' to hero div to make the entire quiz section full
page --}}
<section class="hero is-info is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-9-tablet is-8-desktop is-7-widescreen">
          <div class="box">

            <!--! (Line below) the whole question columns need to be hidden at start and when game over -->
            <div id="question-container" class="columns is-multiline">
              <div id="question" class="column is-12">
                <p class="has-text-left">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed omnis dignissimos dolorem et fuga eaque
                  ducimus quae delectus nulla eum saepe neque totam ullam, beatae exercitationem. Laudantium dolor
                  assumenda
                  nesciunt.
                </p>
              </div>
              <div id="answer-buttons" class="column is-12">
                <div class="columns is-multiline">
                  <div class="column is-half-desktop is-half-tablet">
                    <button class="button is-fullwidth">Answer 1</button>
                  </div>
                  <div class="column is-half-desktop is-half-tablet">
                    <button class="button is-fullwidth">Answer 2</button>
                  </div>
                  <div class="column is-half-desktop is-half-tablet">
                    <button class="button is-fullwidth">Answer 3</button>
                  </div>
                  <div class="column is-half-desktop is-half-tablet">
                    <button class="button is-fullwidth">Answer 4</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="columns is-centered">
              <!--! (Lines below) hide the column after the game starts  -->
              <div class="column is-one-quarter">
                <button id="start-btn" class="button is-fullwidth is-primary">
                  Start
                </button>
              </div>
              <div class="column is-one-quarter is-hidden">
                <button id="next-btn" class="button is-fullwidth is-primary">
                  Next
                </button>
              </div>
            </div>
          </div> <!-- end of box -->
        </div> <!-- end of column (wrapper) -->
      </div> <!-- end of columns (wrapper) -->
    </div> <!-- end of container -->
  </div>
</section>
<!--* Can add a footer here  -->