{{!-- (Line below) 'is-fullheight-with-navbar' is used so that the navbar and the hero section don't overlap --}}
<section class="hero is-primary is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <!--! (Line below) you can try different screen-size classes -->
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <h1 class="is-size-3 mb-2 has-text-weight-bold has-text-centered">
            Sign up
          </h1>
          <!-- TODO: make the form send back new user info to backend -->
          <form class="box">
            <!-- TODO (optional): Can add a logo here -->

            {{!-- Email field --}}
            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left">
                <input 
                  type="email" 
                  class="input" 
                  placeholder="bojo@gmail.com"
                />
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>

            {{!-- Password field --}}
            <div class="field">
              <label class="label">Password</label>
              <div class="control has-icons-left">
                <!-- TODO: (line below) make sure password is 8-character long -->
                <input 
                  type="password" 
                  class="input" 
                  placeholder="********"
                  required
                />
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
              <span class="help">8 characters minimum</span>
            </div>

            {{!-- signup submit button --}}
            <div class="field">
              <!-- TODO: (line below) make it a submit button -->
              <button class="button is-success">
                Sign up
              </button>
            </div>
            
            {{!-- Text and link to signin page --}}
            <div class="field">
              Already a member?
              <a href="/signin" 
                 class="has-text-weight-bold has-text-link">
                Log in
              </a>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--* Can add a footer here  -->