<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <!--! (Line below) you can try different screen-size classes -->
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <h1 class="is-size-3 mb-2 has-text-weight-bold has-text-centered">
            Sign up
          </h1>
          <form class="box">
            <!--* Can add a logo here -->
            <!-- Email field -->
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input 
                  type="email" 
                  class="input" 
                  placeholder="marcusaurelius@gmail.com"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>